body {
	width: 100%;
}
.wrapper {
	width: 600px;
	margin: 0 auto;
}
.header {
	width: 400px;
	height: 100px;
	background: #f00;
	position: relative;
}
.flex-container{
    display: flex;
    /* margin-left: 200px; */
	/* flex-direction: row-reverse; */
	top: 20px;
	right: 20px;
	position: absolute;
    padding: 10px 10px 10px 0;
	background: white;
}
.flex-item{
    margin-left: 10px;
	/* padding: 5px; */
    background: #6729a0;
    width: 40px;
    height: 40px;
	/* border-right: 10px solid white;*/
} 
.content {
	float: left;
	width: 150px;
	height: 250px;
	background: #0a5;
}
.side {
    float: left;
	width: 250px;
	height: 250px;
	background: #2563eb;
}
.footer {
	width: 400px;
	height: 100px;
	background: #fd0;
}
.container {
    display: block;
	margin: 40px 0 0 40px;
}
.item {
    background: #ff863f;
    width: 140px;
    height: 40px;
    margin-bottom: 10px;
	border: 5px solid white;
}
.clearfix:after {
	content: "";
	display: flex;
	clear: both;
	height: 0;
	visibility: hidden;
}
